<template>
    <li class="page-item" :class="{'active': currentPage === pageNumber}"><button class="page-link"  @click=" goToPage(pageNumber) " >{{pageNumber}}</button></li>
</template>

<script>
    export default {
        name: "paginate",
        props:['pageNumber', 'currentPage'],
        methods:{
            goToPage(pageNo){
                this.$store.commit('recipes/goToPage', pageNo);
                this.$store.commit('recipes/initPaginate');
            }
        }
    }
</script>

<style scoped>

</style>