<template>
    <article class="recipe">
        <div class="thumbnail" :style="{backgroundImage : 'url(' + thumbnail + ')'}"></div>
        <h4 class="title">{{previewText}}</h4>
        <button class="btn btn-warning">Join game</button>
    </article>
</template>

<script>
    export default {
        name: "recipe",
        props:[ 'thumbnail',  'previewText']
    }
</script>

<style scoped>
    .recipe{
        box-sizing:border-box;
        width:220px;
        padding:8px;
        border:1px solid #ccc;
        margin:10px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        text-align: center;
    }
    .recipe:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .thumbnail{
        background-position: center;
        background-size:cover;
        width:100%;
        height:200px;
    }
</style>