<template>
    <section class="container">
        <div class="filter-bar">
            <article class="filter">
                <button class="btn btn-primary" @click="filter(`filterKey1`, `PG`)">PG</button>
                <button class="btn btn-success" @click="filter(`filterKey1`,`CQ9`)">CQ9</button>
                <button class="btn btn-info" @click="filter(`filterKey1`,`PT`)">PT</button>
                <button class="btn btn-warning" @click="filter(`filterKey1`,`MG`)">MG</button>
            </article>
            <article class="filter">
                <button class="btn btn-danger" @click="filter(`filterKey2`, `hot`)">Hot</button>
                <button class="btn btn-warning" @click="filter(`filterKey2`, `new`)">New</button>
                <button class="btn btn-info" @click="filter(`filterKey2`, `mode`)">Game</button>
            </article>
            <article class="filter">
                <input type="text" placeholder="Search..." class="form-control" @keyup.enter="search">
            </article>
        </div>
        <div class="recipes">
            <Recipe
                    v-for="recipe in recipes"
                    :thumbnail = "recipe.web_img_url"
                    :previewText = "recipe.cn_name" >
            </Recipe>
        </div>
        <div class="pagination-bar">
            <ul class="pagination">
                <li class="page-item" ><button class="page-link" @click="firstPage">First</button></li>
                <li class="page-item"><button class="page-link" @click="prevPage">Previous</button></li>
                <Paginate
                        v-for="page in pages.pages"
                        :currentPage = pages.currentPage
                        :pageNumber = page >
                </Paginate>
                <li class="page-item"><button class="page-link" @click = "nextPage()">Next</button></li>
                <li class="page-item"><button class="page-link" @click="lastPage">Last</button></li>
            </ul>
        </div>
    </section>
</template>

<script>
    import Recipe from '@/components/recipe'
    import Paginate from '@/components/paginate'
    import axios from 'axios'
    import https from 'https'


    var config = {
        headers: { "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9",
            "Accept-Encoding": "gzip, deflate, br",
            "Accept-Language": "en-US,en;q=0.9",
            "Cache-Control": "max-age=0",
            "Connection": "keep-alive",
            "Cookie": "comm100_id=12",
            "Host": "yobet.com",
            "Sec-Fetch-Mode": "navigate",
            "Sec-Fetch-Site": "none",
            "Sec-Fetch-User": "?1",
            "Upgrade-Insecure-Requests": "1",
            "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36",
        }
    };
    const axiosInstance = axios.create({
        baseURL: 'https://yobet.com',
        httpsAgent: new https.Agent({
            rejectUnauthorized: false
        })
    });
    export default {
        fetch ({ store }) {
            return axiosInstance.get(`https://localhost:3000/json.json`)
                .then((res) => {
                    store.commit('recipes/setData', res.data.data.egame_list);
                    store.commit('recipes/setFilteredData', res.data.data.egame_list.PG);
                    store.commit('recipes/initPaginate')
                },
                    (error) =>{
                    console.log(error)
                    })
        },
        components:{
            Recipe,
            Paginate
        },
        computed:{
            recipes(){
                return this.$store.state.recipes.currentPage;
            },
            pages(){
                let object = {pages : [], currentPage: this.$store.state.recipes.currentPageNum};
                for (let i = this.$store.state.recipes.paginationStartPage; i <= this.$store.state.recipes.paginationEndPage; i++) {
                    object.pages.push(i)
                }
                return object;
            }
        },
        methods:{
            filter(keyNum, keyVal){
                this.$store.commit('recipes/setFilterKey', [keyNum, keyVal]);
                this.$store.commit('recipes/filter');
                this.$store.commit('recipes/initPaginate')
            },
            search(e){
                this.$store.commit('recipes/setFilterKey', ['filterKey3', e.target.value]);
                this.$store.commit('recipes/filter');
                this.$store.commit('recipes/initPaginate')
            },
            firstPage(){
                this.$store.commit('recipes/changePage', 'first');
                this.$store.commit('recipes/initPaginate');
            },
            prevPage(){
                this.$store.commit('recipes/changePage', 'prev');
                this.$store.commit('recipes/initPaginate');
            },
            nextPage(){
                this.$store.commit('recipes/changePage', 'next');
                this.$store.commit('recipes/initPaginate');
            },
            lastPage(){
                this.$store.commit('recipes/changePage', 'last');
                this.$store.commit('recipes/initPaginate');
            },
        }
    }
</script>
<style scoped>
    .container{
        width:70%;
        margin:auto;
        padding-top:40px;
    }
    .filter-bar{
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
    }
    .filter{
        width:30%;
        justify-content: center;
    }
    .recipes{
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
    }
    .pagination-bar{
        text-align: center;
    }
</style>

